* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #f9a8d4, #ec4899);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.container {
    background: #fde047; /* kuning shinchan */
    padding: 20px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    border: 4px solid #000;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.form {
    display: flex;
    gap: 10px;
}

.form input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #000;
}

.form button {
    padding: 8px 14px;
    border-radius: 8px;
    border: 2px solid #000;
    cursor: pointer;
    background: #ef4444; /* merah shinchan */
    color: #fff;
    font-weight: bold;
}

.form button:hover {
    background: #dc2626;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.actions button {
    padding: 6px 12px;
    border-radius: 8px;
    border: 2px solid #000;
    cursor: pointer;
    font-weight: bold;
}

#filterBtn {
    background: #3b82f6; /* biru */
    color: #fff;
}

#deleteAllBtn {
    background: #000;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #000;
}

thead {
    background: #ef4444;
    color: #fff;
}

tbody tr:hover {
    background: #fef9c3;
}

.status {
    color: #16a34a;
    font-weight: bold;
}

.delete-btn {
    background: #000;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #333;
}

.empty {
    text-align: center;
    opacity: 0.7;
}

.done {
    color: #16a34a;
    font-weight: bold;
}

.pending {
    color: #dc2626;
    font-weight: bold;
}

.action-icon {
    font-size: 18px;
    cursor: pointer;
    margin: 0 6px;
    font-weight: bold;
}

.done-icon {
    color: #16a34a;
}

.pending-icon {
    color: #dc2626;
}

.action-icon:hover {
    transform: scale(1.2);
}
